<?xml version="1.0" encoding="utf-8"?>
<Package xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="c0ae7aa0-3c67-4dcb-b1ae-d54391cb9b5b" Publisher="CN=DefaultCompany" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="c0ae7aa0-3c67-4dcb-b1ae-d54391cb9b5b" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>justturkishthings</DisplayName>
    <PublisherDisplayName>aehi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="c0ae7aa0-3c67-4dcb-b1ae-d54391cb9b5b.App">
      <m3:VisualElements DisplayName="justturkishthings" Square150x150Logo="Assets\MediumTile.png" Square44x44Logo="Assets\AppIcon.png" Description="justturkishthings" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile DefaultSize="square150x150Logo" ShortName="justturkishth" Square71x71Logo="Assets\SmallTile.png" />
        <m3:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#222C37" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="landscapeFlipped" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
</Package>